<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h1><%= @cocktail.name %></h1>
      <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail.id) %>
    </div>
  </div>
</div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h3>Doses</h3>
      <ul>
      <% @cocktail.doses.each do |dose| %>
      <li>
        <%= dose.description %> - <%= dose.ingredient.name %>
      </li>
      <% end %>
      </ul>
    </div>
  </div>
</div>