.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  height: 250px;
  width: 300px;
  margin: 20px 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.card:hover {
  box-shadow: 0 0 30px rgba(0,0,0,0.3);
}

.card-body {
  height: 200px;
  position: relative;
  background-size: cover;
}

.card-avatar {
  position: absolute;
  top: 5px;
  right: 5px;
}

.card-category {
  position: absolute;
  top: 8px;
  left: 8px;
  color: #fff;
  text-transform: uppercase;
}

.card-desc {
  position: absolute;
  bottom: 8px;
  left: 8px;
  color: #fff;
}

.card-footer {
  height: 50px;
  position: relative;
}

.card-links ul {
  position: absolute;
  bottom: 0;
  right: 8px;
  color: #ccc;
}

.card-links ul li {
  text-decoration: none;
  display: inline;
  margin: 8px;
}

.card-links ul li a {
  color: #ccc;
  text-decoration: none;
}

.card-links ul li a:hover {
  color: #aaa;
  text-decoration: none;
}

.card-date {
  position: absolute;
  bottom: 16px;
  left: 5px;
  color: #ccc;
}

.yellow {
  color: #0C1E2A;
}
